<!-- Project template for Darjeeling configurations -->
<project name="config">

	<property name="executable" value="darjeeling.elf"/>
	<property name="outputfile" value="darjeeling.a"/>
	<property name="infusionarchive" value="infusions"/>
	<property name="infusionelf" value="infusions.o"/>

	<!-- Get the directory where config.xml is located -->
	<dirname property="configpath" file="${ant.file.config}"/>
	<dirname property="configtargetpath" file="${ant.file}"/>
	
	<!-- Import taskdefs.xml and compiler.xml relative to where config.xml is (imports GCC build stuff mostly) -->
	<import file="${configpath}/../taskdefs.xml"/>
	<import file="${configpath}/../architecture/${architecture}/compiler.xml"/>
	<import file="${configpath}/../platform/${platform}/platform.xml"/>
	
	<!-- source directory where the main.c resides -->
	<property name="c-src" value="${configtargetpath}/c"/>
	<property name="temp" value="${configtargetpath}/build"/>

	<!-- Construct a list of .a files to include (relative to the lib directory) based on a list of 
	libraries (ie 'base, darjeeling' -> 'base/build/base.a, darjeeling/build/darjeeling.a') -->
	<pathconvert property="nativelibs" pathsep=" ">
		<filelist dir="/" files="${libs}"/>
		<regexpmapper from="\${file.separator}(.*)" to="\1/build/${configuration}/\1.a"/>
	</pathconvert>

	<!-- Construct a list of build files to execute to build the libs -->
	<pathconvert property="libbuildfiles" pathsep=" ">
		<filelist dir="/" files="${libs}"/>
		<regexpmapper from="\${file.separator}(.*)" to="\1/build.xml"/>
	</pathconvert>
	
	<!-- Construct a list of build files to execute to build the apps -->
	<pathconvert property="appbuildfiles" pathsep=" ">
		<filelist dir="/" files="${apps}"/>
		<regexpmapper from="\${file.separator}(.*)" to="\1/build.xml"/>
	</pathconvert>
	
	<pathconvert property="libincludes" pathsep=" ">
		<filelist dir="/" files="${libs}"/>
		<regexpmapper from="\${file.separator}(.*)" to="\1/build/"/>
	</pathconvert>

	<!-- Meta-targets -->
	<target name="all" depends="executable"/>
	<target name="executable" depends="compile-libs, compile-apps, compile-vm, compile-platform, unpack, compile-main, packdi, repack, link"/>
	<target name="lib" depends="compile-libs, compile-apps, compile-vm, compile-platform, unpack, compile-main, repack"/>
	
	<!-- Compile libraries -->
	<target name="compile-libs">
		<subant inheritall="true">
			<fileset includes="${libbuildfiles}" dir="${configpath}/../lib/"/>
		</subant>
	</target>

	<!-- Compile applications -->
	<target name="compile-apps">
		<subant inheritall="true">
			<fileset includes="${appbuildfiles}" dir="${configpath}/../app/"/>
		</subant>
	</target>
	
	<!-- Compile the VM -->
	<target name="compile-vm">
		<subant inheritall="true">
			<fileset includes="build.xml" dir="${configpath}/../vm/"/>
		</subant>
	</target>
	
	<!-- Compile the platform -->
	<target name="compile-platform">
		<subant inheritall="true">
			<fileset includes="build.xml" dir="${configpath}/../platform/${platform}"/>
		</subant>
	</target>

	<!--defineset id="platform-defines">
		<define name="AUTOSTART_ENABLE"/>
		<define name="CONTIKI_PLATFORM" value="native"/>
	</defineset-->
	
	<!-- Compile the main.c for this configuration -->
	<target name="compile-main">
		<mkdir dir="${temp}/main/"/>
		<platform-compile objectfiles="${temp}/main/">
			<compile-elements>

				<defineset refid="platform-defines"/>
			
				<!-- include directories -->
				<includepath>
					<pathelement path="${configpath}/../architecture/${architecture}/c"/>
					<pathelement path="${configpath}/../platform/${platform}/c"/>
					<pathelement path="${configpath}/../config/${configuration}/c"/>
					<pathelement path="${configpath}/../vm/c"/>
					<pathelement path="."/>
					<path refid="platform-includes"/>	
					<path><filelist files="${libincludes}" dir="${configpath}/../lib/"/></path>
				</includepath>
		
				<!-- input files -->
				<fileset dir="${c-src}">
					<include name="**/*.c"/>
				</fileset>
				
			</compile-elements>
		</platform-compile>
	</target>

	<!-- Packs neccesairy .di files (libraries and applications) into a single archive using ar. Then it uses objcopy to create a .o file for 
	inclusion in the final executable -->
	<target name="packdi" depends="compile-main">
		<mkdir dir="${temp}/infusions"/>
	
		<!-- Construct a list of library .di files based on a comma separated list of libraries (ie 'base, darjeeling') -->
		<pathconvert property="dilibs" pathsep=" ">
			<filelist dir="/" files="${libs}"/>
            <regexpmapper from="\${file.separator}(.*)" to="/../lib/\1/build/\1.di"/>
			<map from="" to="${configpath}"/>
		</pathconvert>

		<!-- Construct a list of application .di files based on a comma separated list of applications (ie 'blink, hello world') -->
		<pathconvert property="diapps" pathsep=" ">
			<filelist dir="/" files="${apps}"/>
			<regexpmapper from="\${file.separator}(.*)" to="/../app/\1/build/\1.di"/>
            <map from="" to="${configpath}"/>
		</pathconvert>
		
		<!-- Archive the files using gnu ar -->
		<delete file="${infusionarchive}"/>
		<exec executable="ar">
			<arg line="rc ${infusionarchive} ${dilibs} ${diapps}"/>
		</exec>	

		<!-- Use objcopy to turn the archive into an elf file so it can be linked into the final executable -->
		<platform-objcopy inputfile="${infusionarchive}" outputfile="${temp}/infusions/infusions.o"/>
	</target>
		
	<!-- Unpack the static libraries for the different libraries and the VM into the build directory -->
	<target name="unpack">
		<delete dir="${temp}"/>
		<mkdir dir="${temp}/unpack"/>
		<apply executable="ar" parallel="false" dir="${temp}/unpack">
			<arg value="x"/>
			<fileset includes="${nativelibs}" dir="${configpath}/../lib/"/>
			<fileset includes="vm.a" dir="${configpath}/../vm/build/${configuration}/"/>
			<fileset includes="platform.a" dir="${configpath}/../platform/${platform}/build/${configuration}"/>
		</apply>
	</target>
	
	<!-- Repack everything that's in the build dir into a single .a file -->
	<target name="repack" depends="unpack">
		<pathconvert property="objectfiles" pathsep=" ">
			<fileset dir="${temp}" includes="**/*.o"/>
		</pathconvert>
		<delete file="${outputfile}"/>
		<exec executable="ar">
			<arg line="rcs ${outputfile} ${objectfiles}"/>
		</exec>
	</target>
	
	<!-- Repack everything that's in the build dir into a single .a file -->
	<target name="link" depends="repack">
		<platform-link outputfile="${executable}">
			<link-elements>
				<fileset includes="${outputfile}" dir="."/>
			</link-elements>
		</platform-link>
	</target>

	<!-- Clean the build dir, the VM, and the libraries this configuration depends on -->
	<target name="clean">
		<subant target="clean" inheritall="true">
			<fileset includes="${libbuildfiles}" dir="${configpath}/../lib/"/>
			<fileset includes="${appbuildfiles}" dir="${configpath}/../app/"/>
			<fileset includes="build.xml" dir="${configpath}/../vm/"/>
			<fileset includes="build.xml" dir="${configpath}/../platform/${platform}"/>
		</subant>
		<delete dir="./build"/>
		<delete file="history.xml"/>
		<delete file="${outputfile}"/>
		<delete file="${executable}"/>
	</target>

</project>
